/**
 * Styling for Foundation Accordion component.
 */

.accordion {
  max-width: 615px;
  margin: 0 auto;
  background-color: transparent;

  .accordion-item {
    margin-bottom: 7px;
    background-color: $color--white;
    border-radius: 0;

    &.is-active {
      a {
        &:before {
          line-height: 17px;
          background-color: lighten($color--green, 7%);
        }

        h5 {
          color: $color--darkgreen;
        }
      }
    }

    .accordion-title {
      padding: 18px 30px;
      border: none;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: $color--white;
        h5 {
          color: $color--green;
        }

        &:before {
          background-color: lighten($color--green, 7%);
        }
      }

      h5 {
        padding-right: $spacing--medium;
        margin: 0;
        font-family: $ff--idealsans;
        color: $color--body-text;
        transition: color .3s ease-in-out;
      }

      &:before {
        right: 28px;
        width: 18px;
        height: 18px;
        margin-top: -9px;
        line-height: 18px;
        padding-left: 4px;
        padding-right: 4px;
        font-size: 1.25rem;
        color: $color--white;
        background-color: $color--green;
        border-radius: 100%;
        transition: background-color .3s ease-in-out;
      }
    }

    .accordion-content {
      position: relative;
      padding: 20px 30px;
      border: none;
      background-color: $color--gray;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 30px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: $color--white transparent transparent transparent;
      }

      .field--name-field-faq-answer {
        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

