

.breadcrumbs {
  margin: 0;

  .breadcrumb {
    padding: 0;
  }

  ol {
    margin: 0;

    li {
      float: none;
      display: inline-block;
      margin-right: 10px;
      text-transform: capitalize;
      font-size: rem-calc(14);
      color: $color--gray2;

      a {
        @include link-style--black;
        text-decoration: none;
      }

      &::before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 10px;
        margin-right: 10px;
        background-image: url('../../images/icons/arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      &::after {
        display: none;
      }
    }

    li:first-child {
      margin-right: 15px;

      a {
        display: block;
        text-indent: -200px;
        overflow: hidden;
        width: 12px;
        height: 12px;
        background-image: url('../../images/icons/home.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    li:nth-child(2) {
      &::before {
        display: none;
      }
    }

    li:last-child {
      font-weight: 600;
    }
  }
}
