//@font-face {
//	font-family: 'IdealSans';
//	src: url('../../fonts/IdealSans/IdealSans-Light-Pro.otf');
//	font-style: normal;
//	font-weight: lighter;
//}
//
//@font-face {
//	font-family: 'IdealSans';
//	src: url('../../fonts/IdealSans/IdealSans-LightItalic-Pro.otf');
//	font-style: italic;
//	font-weight: lighter;
//}
//
//@font-face {
//	font-family: 'IdealSans';
//	src: url('../../fonts/IdealSans/IdealSans-Medium-Pro.otf');
//	font-style: normal;
//	font-weight: normal;
//}
//
//@font-face {
//	font-family: 'IdealSans';
//	src: url('../../fonts/IdealSans/IdealSans-MediumItalic-Pro.otf');
//	font-style: italic;
//	font-weight: normal;
//}
//

//


// IdealSans

@font-face {
  font-family: "Ideal Sans A", "Ideal Sans B";
  font-style: normal;
  font-weight: 400;
  //font-weight: normal;
}

@font-face {
  font-family: "Ideal Sans A", "Ideal Sans B";
  font-style: italic;
  font-weight: 400;
  //font-weight: normal;
}

@font-face {
  font-family: "Ideal Sans A", "Ideal Sans B";
  font-style: normal;
  font-weight: 600;
  //font-weight: bold;
}

@font-face {
  font-family: "Ideal Sans A", "Ideal Sans B";
  font-style: italic;
  font-weight: 600;
  //font-weight: bold;
}

//@font-face {
//  font-family: 'IdealSans';
//  src: url('../../fonts/IdealSans/IdealSans-Bold-Pro.otf');
//  font-style: normal;
//  font-weight: 600;
//}
//
//@font-face {
//  font-family: 'IdealSans';
//  src: url('../../fonts/IdealSans/IdealSans-BoldItalic-Pro.otf');
//  font-style: italic;
//  font-weight: 600;
//}

// Sentinel

//@font-face {
//	font-family: 'Sentinel';
//	src: url('../../fonts/Sentinel/Sentinel-Medium.otf');
//	font-style: normal;
//	font-weight: normal;
//}
//
//@font-face {
//	font-family: 'Sentinel';
//	src: url('../../fonts/Sentinel/Sentinel-MediumItal.otf');
//	font-style: italic;
//	font-weight: normal;
//}
//
//@font-face {
//	font-family: 'Sentinel';
//	src: url('../../fonts/Sentinel/Sentinel-Light.otf');
//	font-style: normal;
//	font-weight: lighter;
//}
//
//@font-face {
//	font-family: 'Sentinel';
//	src: url('../../fonts/Sentinel/Sentinel-LightItal.otf');
//	font-style: italic;
//	font-weight: lighter;
//}

@font-face {
  font-family: "Sentinel A", "Sentinel B";
  font-style: normal;
  font-weight: 400;
  //font-weight: normal;
}

@font-face {
  font-family: "Sentinel A", "Sentinel B";
  font-style: italic;
  font-weight: 400;
  //font-weight: normal;
}

@font-face {
  font-family: "Sentinel A", "Sentinel B";
  font-style: normal;
  font-weight: 600;
  //font-weight: bold;
}

@font-face {
  font-family: "Sentinel A", "Sentinel B";
  font-style: italic;
  font-weight: 600;
  //font-weight: bold;
}

@font-face {
  font-family: "Sentinel A", "Sentinel B";
  font-style: normal;
  font-weight: 700;
  //font-weight: 600;
}

@font-face {
  font-family: "Sentinel A", "Sentinel B";
  font-style: italic;
  font-weight: 700;
  //font-weight: 600;
}

//@font-face {
//	font-family: 'Sentinel-Black';
//	src: url('../../fonts/Sentinel/Sentinel-Black.otf');
//	font-style: normal;
//	font-weight: normal;
//}
//
//@font-face {
//	font-family: 'Sentinel-Black';
//	src: url('../../fonts/Sentinel/Sentinel-BlackItal.otf');
//	font-style: italic;
//	font-weight: normal;
//}
