{#
/**
 * @file
 * FAQs Landing view unformatted list.
 * Adds Foundation Accordion component markup/classes.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{{ attach_library('dovelewis/foundation-accordion') }}

<div id="faqs-landing-accordion" class="accordion" data-accordion>
  {% for row in rows %}
    {{ row.content }}
  {% endfor %}
</div>
